.idea
.vscode
.DS_Store

# I can't upload this file because the words are proprietry data.
# Buy the game and put the words in yourself. Or, you can make up
# your own list!
data/words.csv

.env
.env.local
bin